@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    min-height: 100vh;
    background: #fefefe;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.main-container .card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap : 2.5em ;
    row-gap: 2.5em;
}


.card-body{
    position: relative;
    background: #fff;
    width: 350px;
    height: fit-content;
    box-shadow: 0 5px 25px rgb(0, 0, 0, .15);
}

.card-images{
    width: 100%;
    display: grid;
    place-items: center;
}

.card-images .card-figure{
    z-index: 1;
    width: 57.3%;
}

.card-info{
    position: relative;
    padding: 20px;
    text-align: center;
}

.card-info .card-name{
    color:#222;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
}

.card-info .card-description{
    color:#222;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 15px;
}

.card-info .card-media{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 35px;
}

.card-info .card-media a{
    color: #999;
    font-size: 1.7em;
    transition: color .1s ease;
}

.card-info .card-media a:hover{
    color: #222;
}

@media screen  and (max-width:1210px){
    .main-container .card-container{
        grid-template-columns: (2,1fr);
    }

    section{
        margin: 100px 0;
    }
}

@media screen and (max-width:825px){
    .main-container .card-container{
        display: grid;
        grid-template-columns: (1,1fr);
    }
    
}

@media  screen and (max-width:450px)  {
    .main-container .card-container{
        margin: 0.20px;
    }
    .card-body{
        width: 100%;
    }
}

