<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/AboutUS.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>

<body>
<header class="header">
    <a href="index.html" class="logo">
        <img src="../static/images/MainImage/icon.png" alt="Logo">
    </a>
    <nav class="navbar">
        <a href="index.html">首頁</a>
        <a href="AboutUS.html">關於我們</a>
        <a href="gmail.html">聯絡我們</a>
    </nav>

</header>

<section>
    <div class="main-container">
        <div class="card-container">
            <div class="card">
                <div class="card-body">
                    <div class="card-images">
                        <img src="../static/images/AboutUS/bg1.jpg" alt="" class="card-bg">
                        <img src="../static/images/AboutUS/figre1.jpg" alt="" class="card-figure">
                    </div>
                    <div class="card-info">
                        <h2 class="card-name">馬昱家</h2>
                        <p class="card-description">hi,我是馬哥</p>
                        <p class="card-description2">我負責主程式完善，資料串接SQL、discord。</p>
                        <div class="card-media">
                            <a href="https://www.facebook.com/eric20031129?locale=zh_TW"><i
                                    class="uil uil-facebook-f"></i></a>
                            <a href="#"><i class="uil uil-instagram-alt"></i></a>
                            <a href="https://github.com/mirai1129"><i class="uil uil-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="card-images">
                        <img src="../static/images/AboutUS/bg2.jpg" alt="" class="card-bg">
                        <img src="../static/images/AboutUS/figre2.jpg" alt="" class="card-figure">
                    </div>
                    <div class="card-info">
                        <h2 class="card-name">賴彥霖</h2>
                        <p class="card-description">hi,我是m0</p>
                        <p class="card-description2">我負責爬蟲、SQL，及主程式初步架構。</p>
                        <div class="card-media">
                            <a href="https://www.facebook.com/profile.php?id=100003582382958&locale=zh_TW"><i
                                    class="uil uil-facebook-f"></i></a>
                            <a href="#"><i class="uil uil-instagram-alt"></i></a>
                            <a href="https://github.com/LiamoKarca"><i class="uil uil-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="card-images">
                        <img src="../static/images/AboutUS/bg3.jpg" alt="" class="card-bg">
                        <img src="../static/images/AboutUS/figre3.jpg" alt="" class="card-figure">
                    </div>
                    <div class="card-info">
                        <h2 class="card-name">黃品翰</h2>
                        <p class="card-description">hi,我是布丁</p>
                        <p class="card-description2">我負責PPT,及各方向支援!!</p>
                        <div class="card-media">
                            <a href="https://www.facebook.com/profile.php?id=100009160750770&locale=zh_TW"><i
                                    class="uil uil-facebook-f"></i></a>
                            <a href="#"><i class="uil uil-instagram-alt"></i></a>
                            <a href="https://github.com/XYPudding77"><i class="uil uil-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="card-images">
                        <img src="../static/images/AboutUS/bg4.jpg" alt="" class="card-bg">
                        <img src="../static/images/AboutUS/figre4.jpg" alt="" class="card-figure">
                    </div>
                    <div class="card-info">
                        <h2 class="card-name">張宏瑋</h2>
                        <p class="card-description">hi,我是set</p>
                        <p class="card-description2">我負責寫web，及串接SQL到web。</p>
                        <div class="card-media">
                            <a href="https://www.facebook.com/profile.php?id=100011451914167&locale=zh_TW"><i
                                    class="uil uil-facebook-f"></i></a>
                            <a href="#"><i class="uil uil-instagram-alt"></i></a>
                            <a href=https://github.com/setdoene?tab><i class="uil uil-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../static/js/AboutUS.js"></script>
</body>

</html>
