<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/contact.css">
</head>

<body>
<header class="header">
    <a href="index.html" class="logo">
        <img src="../static/images/MainImage/icon.png" alt="Logo">
    </a>
    <nav class="navbar">
        <a href="/">首頁</a>
        <a href="/about-us">關於我們</a>
        <a href="/contact-us">聯絡我們</a>
    </nav>
</header>

<div class="contact-container">
    <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
        <div class="contact-left-title">
            <h2>get in touch</h2>
            <hr>
        </div>
        <input type="hidden" name="access_key" value="8636c005-6ac2-4f98-b9ea-92e9cdec34d2">
        <input type="text" id="name" name="name" placeholder="your name" class="contact-inputs" required>
        <input type="email" id="email" name="email" placeholder="your email" class="contact-inputs" required>

        <textarea name="message" placeholder="your message" class="contact-inputs" required></textarea>
        <button type="submit">send<img src="../static/images/gmailmage/arrow_icon.png" alt=""></button>
    </form>
    <div class="contact-right">
        <img src="../static/images/gmailmage/right_img.png" alt="">
    </div>
</div>
</body>

</html>
