<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test page</title>
    <link rel="stylesheet" href="../static/css/Main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        /* 添加樣式來限制滑動區塊的高度並啟用垂直滾動 */
        .scrollable-list {
            max-height: 300px; /* 設置滑動區塊的最大高度 */
            overflow-y: auto; /* 啟用垂直滾動 */
            border: 1px solid #ccc; /* 添加邊框以便於識別 */
            padding: 10px; /* 添加內部填充 */
            margin: 10px 0; /* 添加外部間距 */
        }
    </style>
</head>

<body>
<header class="header">
    <a href="index.html" class="logo">
        <img src="../static/images/MainImage/icon.png" alt="Logo">
    </a>
    <nav class="navbar">
        <a href="index.html">首頁</a>
        <a href="AboutUS.html">關於我們</a>
        <a href="gmail.html">聯絡我們</a>
    </nav>
</header>

<div class="container">
    <!--第一頁面-->
    <div class="bg-slide active">
        <div class="circle bg">
            <img src="../static/images/MainImage/img1.jpg">
        </div>
        <div class="circle large">
            <img src="../static/images/MainImage/img1.jpg">
        </div>
        <div class="circle small">
            <img src="../static/images/MainImage/img1.jpg">
        </div>
        <div class="content-text">
            <div class="place">
                <h1>首頁</h1>
            </div>

            <div class="country">
                <h2>介紹</h2>
            </div>
        </div>
    </div>

    <!--第二頁面-->
    <div class="bg-slide">
        <div class="circle bg">
            <img src="../static/images/MainImage/img2.jpg">
        </div>
        <div class="circle large">
            <img src="../static/images/MainImage/img2.jpg">
        </div>
        <div class="circle small">
            <img src="../static/images/MainImage/img2.jpg">
        </div>
        <div class="content-text">
            <div class="place2">
                <h1>圖表</h1>
            </div>
            <div class="country">
                <h1></h1>
            </div>
            <div class="conta">
                <div class="chart-container">
                    <div id="canvas-container"></div>
                </div>

                <div class="controls">
                    <select id="chartType" class="select">
                        <option value="bar">Bar</option>
                        <option value="line">Line</option>
                        <option value="pie">Pie</option>
                        <option value="doughnut">Doughnut</option>
                        <option value="radar">Radar</option>
                    </select>
                    <input type="text" id="labelInput" class="input" placeholder="Label">
                    <input type="number" id="dataInput" class="input" placeholder="Data">
                    <button onclick="addData()" class="chart-btn">Add Data</button>
                    <button onclick="updateChartType()" class="chart-btn">Change Chart Type</button>
                </div>

            </div>
        </div>
    </div>
    <!--第三頁面-->
    <div class="bg-slide">
        <div class="circle bg">
            <img src="../static/images/MainImage/img3.jpg">
        </div>
        <div class="circle large">
            <img src="../static/images/MainImage/img3.jpg">
        </div>
        <div class="circle small">
            <img src="../static/images/MainImage/img3.jpg">
        </div>
        <div class="content-text">
            <div class="place">
                <h1>相關資料</h1>
            </div>

            <div class="country">
                <h2>之後改</h2>
                <div class="scrollable-list">
                    <ul>
                        {% for item in title_and_link_data %}
                            <li>
                                <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--第四頁面-->
    <div class="bg-slide">
        <div class="circle bg">
            <img src="../static/images/MainImage/img4.jpg">
        </div>
        <div class="circle large">
            <img src="../static/images/MainImage/img4.jpg">
        </div>
        <div class="circle small">
            <img src="../static/images/MainImage/img4.jpg">
        </div>
        <div class="content-text">
            <div class="place">
                <h1>關於我們</h1>
            </div>

            <div class="country">
                <h2>indonesia</h2>
            </div>
        </div>
    </div>

    <div class="circle-darktransp"></div>
    <span class="line"></span>
    <span class="rotate-btn">
            <i class='bx bx-rotate-right'></i>
        </span>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
<script>
    const emotionsData = JSON.parse('{{ emotions_data|tojson|safe }}');
    const rotateBtn = document.querySelector('.rotate-btn');
    const slides = document.querySelectorAll('.bg-slide');
    const totalSlides = slides.length;
    let index = 0;

    //跳轉及還原 頁面
    rotateBtn.addEventListener('click', () => {
        rotateBtn.classList.add('active');
        setTimeout(() => {
            rotateBtn.classList.remove('active');
        }, 2100);

        slides.forEach(slide => {
            if (slide.classList.contains('active')) {
                slide.classList.add('after-active');
            } else {
                slide.classList.remove('after-active');
            }
        });

        slides[index].classList.remove('active');
        index++;

        if (index === totalSlides) {
            index = 0;
        }

        slides[index].classList.add('active');
    });


    const canvasContainer = document.getElementById('canvas-container');


    let chartData = {
        labels: [],
        datasets: [{
            label: '# of Values',
            data: [],
            backgroundColor: [
                'rgba(255, 99, 132, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 206, 86, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(153, 102, 255, 0.5)',
                'rgba(255, 159, 64, 0.5)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    };

    for (let [emotion, count] of Object.entries(emotionsData.emotions_summary || {})) {
        chartData.labels.push(emotion);
        chartData.datasets[0].data.push(count);
    }

    /*創建資料表*/
    function createChart(type, height = 300) {
        const canvasContainer = document.getElementById('canvas-container');
        canvasContainer.innerHTML = `<canvas id="myChart"></canvas>`;
        canvasContainer.style.height = `${height}px`;

        const ctx = document.getElementById('myChart').getContext('2d');
        return new Chart(ctx, {
            type: type,
            data: chartData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                onClick: (event, activeElements) => {
                    if (activeElements.length > 0) {
                        const {datasetIndex, index} = activeElements[0];
                        removeData(datasetIndex, index);
                    }
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'index',
                    intersect: false
                }
            }
        });

    }

    let myChart = createChart('bar'); // Create initial chart with default height = 400
    /*創建資料*/
    function addData() {
        const labelInput = document.getElementById('labelInput');
        const dataInput = document.getElementById('dataInput');

        if (labelInput.value && dataInput.value) {
            chartData.labels.push(labelInput.value);
            chartData.datasets.forEach((dataset) => {
                dataset.data.push(dataInput.value);
            });
            myChart.update();
            labelInput.value = '';
            dataInput.value = '';
        }

    }

    function updateChartType() {
        const selectedType = document.getElementById('chartType').value;
        myChart.destroy(); // Destroy the old chart
        myChart = createChart(selectedType);
    }

    function removeData(datasetIndex, index) {
        if (chartData.labels.length > index) {
            chartData.labels.splice(index, 1);
            chartData.datasets[datasetIndex].data.splice(index, 1);
            myChart.update();
        }
    }

</script>
</body>

</html>
