<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test page</title>
    <link rel="stylesheet" href="../../Static/css/Main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header class="header">
        <a href="index.html" class="logo">
            <img src="../../Static/images/MainImage/icon.png" alt="Logo">
        </a>
        <nav class="navbar">
            <a href="index.html">首頁</a>
            <a href="AboutUS.html">關於我們</a>
            <a href="gmail.html">聯絡我們</a>
        </nav>
    </header>

    <div class="container">
        <!--第一頁面-->
        <div class="bg-slide active">
            <div class="circle bg">
                <img src="../../Static/images/MainImage/img1.jpg">
            </div>
            <div class="circle large">
                <img src="../../Static/images/MainImage/img1.jpg">
            </div>
            <div class="circle small">
                <img src="../../Static/images/MainImage/img1.jpg">
            </div>
            <div class="content-text">
                <div class="place">
                    <h1>首頁</h1>
                </div>

                <div class="country">
                    <h2>介紹</h2>
                </div>
            </div>
        </div>

        <!--第二頁面-->
        <div class="bg-slide">
            <div class="circle bg">
                <img src="../../Static/images/MainImage/img2.jpg">
            </div>
            <div class="circle large">
                <img src="../../Static/images/MainImage/img2.jpg">
            </div>
            <div class="circle small">
                <img src="../../Static/images/MainImage/img2.jpg">
            </div>
            <div class="content-text">
                <div class="place2">
                    <h1>圖表</h1>
                </div>
                <div class="country">
                    <h1>    </h1>
                </div>
                <div class="conta">
                    <div class="chart-container">
                        <div id="canvas-container"></div>
                    </div>

                    <div class="controls">
                        <select id="chartType" class="select">
                            <option value="bar">Bar</option>
                            <option value="line">Line</option>
                            <option value="pie">Pie</option>
                            <option value="doughnut">Doughnut</option>
                            <option value="radar">Radar</option>
                        </select>
                        <input type="text" id="labelInput" class="input" placeholder="Label">
                        <input type="number" id="dataInput" class="input" placeholder="Data">
                        <button onclick="addData()" class="chart-btn">Add Data</button>
                        <button onclick="updateChartType()" class="chart-btn">Change Chart Type</button>
                    </div>

                </div>
            </div>
        </div>
        <!--第三頁面-->
        <div class="bg-slide">
            <div class="circle bg">
                <img src="../../Static/images/MainImage/img3.jpg">
            </div>
            <div class="circle large">
                <img src="../../Static/images/MainImage/img3.jpg">
            </div>
            <div class="circle small">
                <img src="../../Static/images/MainImage/img3.jpg">
            </div>
            <div class="content-text">
                <div class="place">
                    <h1>相關資料</h1>
                </div>

                <div class="country">
                    <h2>之後改</h2>
                </div>
            </div>
        </div>

        <!--第四頁面-->
        <div class="bg-slide">
            <div class="circle bg">
                <img src="../../Static/images/MainImage/img4.jpg">
            </div>
            <div class="circle large">
                <img src="../../Static/images/MainImage/img4.jpg">
            </div>
            <div class="circle small">
                <img src="../../Static/images/MainImage/img4.jpg">
            </div>
            <div class="content-text">
                <div class="place">
                    <h1>關於我們</h1>
                </div>

                <div class="country">
                    <h2>indonesia</h2>
                </div>
            </div>
        </div>

        <div class="circle-darktransp"></div>
        <span class="line"></span>
        <span class="rotate-btn">
            <i class='bx bx-rotate-right'></i>
        </span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <script src="../../Static/js/Main.js"></script>
</body>

</html>